@model SuperHeroes.Mvc.Models.Favorite

@{
    ViewBag.Title = "Pick a favorite superhero";
    Layout = "_Layout";
}


<super-hero></super-hero>

<li>
    <super-hero first-name="" last-name=""></super-hero>
    <super-hero first-name="clark" last-name=""></super-hero>
</li>

<content></content>